<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <appSettings>
    <add key="TestUrl" value="https://apim-shared-sharedres-u-001.azure-api.net/soap"/>
    <add key="Bearer" value="eyJhbGciOiJIUzI1NiIsImtpZCI6Ik15S2V5SWQiLCJ0eXAiOiJKV1QifQ.eyJyb2xlcyI6Im1ldGVyZWRkYXRhcmVzcG9uc2libGUiLCJ0ZXN0LWFjdG9ybnVtYmVyIjoiNTc5MDAwMDYxMDk3NiIsImF6cCI6IjMxZGJlZDY3LTdkOTEtNDFhMS04N2NhLWRmZDQ3OTRiNzUwZCIsImV4cCI6MTY3NTE2NDIxMCwiaXNzIjoiaHR0cHM6Ly9sb2dpbi5taWNyb3NvZnRvbmxpbmUuY29tLzRhNzQxMWVhLWFjNzEtNGI2My05NjQ3LWI4YmQ0YzVhMjBlMC92Mi4wIiwiYXVkIjoiYzdlNWRjNWMtMmVlMC00MjBjLWI1ZDItNTg2ZTc1MjczMDJjIn0.V76Sg7VN6EBXzjgCD2wdE7Fqm8HRLnfooVUeDsaGL2s"/>
  </appSettings>
</configuration>
